@import "@/mixins";

.main {
  width: 100%;
  height: 100dvh;
  @include flex(center, center);
  flex-direction: column;
  gap: 30px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background: url(/icons/bg.svg) no-repeat 50%;
    z-index: -1;
  }
}

@media (max-height: 630px) {
  .main {
    height: 630px !important;
  }
}