@mixin flex($align-items, $justify-content) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin text-settings($min-size, $value, $max-size, $color, $weight) {
    font-size: clamp($min-size, $value, $max-size);
    color: $color;
    font-weight: $weight;
    font-family: "Roboto Mono";
}