@import "@/mixins";

.settings_info {
    width: 100%;
    @include flex(center, center);
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;

    .title {
        @include text-settings(18px, 2vw, 25px, var(--settings-info-title), 700);
        margin: 0
    }

    .content {
        @include flex(center, center);
        gap: 30px;

        .info_box {
            @include flex(center, center);
            gap: 5px;

            .name {
                @include text-settings(14px, 2vw, 18px, var(--settings-info-name), 700);
                margin: 0;
            }

            .info {
                @include text-settings(14px, 2vw, 18px, var(--settings-info), 700);
                margin: 0;
            }
        }
    }
}